/*p	{
		color: green;
		background-color: red;

	}*/
	#hello{
		color: yellowgreen;
	}
	.head{
		font-size: 50px;
	}
	p.spec{
		border: 3px solid red;
		padding: 70px;
		height: 40vh;
		width: ;
	}
	body{
		background-image: url("2.jpeg");
		background-repeat: no-repeat;
		width: 10%;
		height: 10vh;
		opacity: 0;
	}


